# Dependencias
node_modules/
jspm_packages/

# Archivos de entorno y credenciales (¡Nunca los subas a Git!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Salida de compilación y pruebas
/dist/
/build/
/coverage/
*.tsbuildinfo

# Registros (logs)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos del sistema operativo y del editor
.DS_Store
Thumbs.db
.vscode/
.idea/
